@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

:root {
    --green-button: #449a4a;
    --green-button-faded: #449a4ab5;
    --grey-button: rgb(91, 89, 89);
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

p {
    font-size: 1rem;
}

a {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
}

body {
    color: #222;
    padding: 10px;
    max-width: 1024px;
    margin: 0 auto;
}

img {
    border-radius: 2px;
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 40px;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 2.5rem;
    text-decoration: none;
    color: rgb(31, 77, 31);
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.post {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin-left: 10px;
    margin-right: 10px;
}

.hamburger-icon {
    height: 2rem;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-header-top {
    position: fixed;
    top: 0;
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
    align-items: center;
    justify-items: center;
    background-color: #fff;
    width: 100%;
    z-index: 1;
}

.name {
    margin-left: auto;
    margin-right: 25px;
}

.hamburger-expanded {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    padding-left: 10px;
    padding-right: 55px;
    width: 60%;
    padding-top: 30px;
    background-color: #FFFFFF;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
}

.responsive_nav {
    transform: translateX(-100vh);
}

@media screen and (min-width: 650px) {
    .sm-header {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    body {
        margin-top: 68px;
        padding: 0 10px;
    }

    .logo {
        font-size: 2rem;
    }

    p.summary {
        height: 66px;
        width: 200px;
    }

    header {
        display: none;
    }

    .post {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        grid-template-columns: 1fr 1fr;
    }

    .post .image {
        margin-left: auto;
        margin-right: auto;
    }

    .post .texts {
        margin-right: 0;
        margin-left: 0;
    }

    .post .texts h2 {
        font-size: 1.2rem;
    }

    .post img {
        height: 100px;
        width: 160px;
        object-fit: cover;
        object-position: center center;
    }

    .post .image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form.login,
    form.register {
        max-width: 100%;
    }

}

button .post .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

img {
    height: 150px;
    width: 240px;
}

.post img {
    object-fit: cover;
    object-position: center center;
}

.post .texts {
    margin-right: 50px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.post .texts h2 {
    margin: 1px;
    font-weight: bold;
}

.post .texts a {
    text-decoration: none;
    color: inherit;
}

.post p.info {
    margin-bottom: auto;
    margin-top: 11px;
    color: #888;
    font-weight: bold;
}

.post .info time {
    font-weight: 500;
    margin-left: 0.8rem;
}

.post .post-summary {
    width: 100%;
    max-width: 650px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
}

.create-post-form, .edit-post-form {
    padding-top: 10px;
}

.post p.summary {
    margin: 10px 0;
    font-weight: 400;
    text-overflow: ellipsis;
    text-align: justify;
    max-height: 150px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

form.login,
form.register {
    max-width: 400px;
    margin: 0 auto;
}

input {
    display: block;
    margin-bottom: 25px;
    height: 40px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-form-button,
.create-button-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

button {
    font-size: 15px;
    cursor: pointer;
    width: 90%;
    display: block;
    background-color: #3e8e41;
    margin-top: 4px;
    border: none;
    color: #fff;
    border-radius: 6px;
    padding: 10px;
    height: 40px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--grey-button);
}

.form-heading {
    margin-bottom: 2px;
    margin-left: 2px;
    font-weight: 600;
}

form.login h1,
form.register h1 {
    text-align: center;
}

.post-page .image img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 250px;
}

.post-page a {
    color: #333;
    text-decoration: underline;
}

.post-page .heading {
    text-align: center;
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: bold;
}

.post-page time {
    text-align: center;
    display: block;
    font-size: 0.85rem;
    color: #888;
    font-weight: 500;
}

.post-page .author {
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.8rem;
    font-weight: 700;
    color: #403f3f;
}

.post-page .content p {
    line-height: 1.6rem;
}

.edit-row {
    text-align: center;
    margin-bottom: 20px;
}

a svg {
    height: 20px;
}

.logout-button {
    background-color: #fff;
    color: rgb(184, 57, 57);
    padding: 10px 14px;
    border-radius: 4px;
    border: 1px solid rgb(184, 57, 57);
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.logout-button:hover {
    background-color: rgb(184, 57, 57);
    color: #fff;
}

.create-button {
    background-color: #fff;
    color: var(--green-button);
    padding: 10px 14px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--green-button);
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.create-button:hover {
    background-color: var(--green-button);
    color: #fff;
}

.login-button {
    background-color: #fff;
    padding: 10px 14px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.login-button:hover {
    background-color: var(--green-button-faded);
    color: #fff;
}


.register-button {
    background-color: #fff;
    color: var(--green-button);
    padding: 10px 14px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--green-button);
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.register-button:hover {
    background-color: var(--green-button);
    color: #fff;
}

span.name {
    font-weight: 600;
    font-size: 1rem;
    color: #666565;
}

.post-page a.edit-btn {
    background-color: #fff;
    text-decoration: none;
    color: var(--green-button);
    padding: 10px 14px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--green-button);
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 170px;
}

.post-page a.edit-btn:hover {
    background-color: var(--green-button);
    color: #fff;
}

.post-page .edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}